[Unit]
Description=ntfybot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ntfybot
Restart=always

[Install]
WantedBy=multi-user.target
